<header class="fixed py-5 bg-blue-500">
    <nav>
        <div class="w-9/12 flex flex-row mx-auto  bg-blue-500">
            <mat-toolbar class=" bg-blue-500">
                <div class="basis-1/2 uppercase text-lg">
                    <span>
                        <a mat-button routerLink="/" routerLinkActive="mat-accent"></a>
                    </span>
                    <!-- Logo or name -->
                    <span>
                        <a mat-button routerLink="/home" routerLinkActive="mat-accent">
                            <span class="font-extrabold text-white">Isa</span>
                            <span class="font-bold text-gray-400">Musawi</span>
                        </a>
                    </span>
                </div>

                <div class="basis-1/2 flex items-center justify-evenly text-white">
                    <!-- web link or shorcut -->
                    <a mat-button routerLink="/services" routerLinkActive="mat-accent">Services</a>
                    <a mat-button routerLink="/experience" routerLinkActive="mat-accent">Experience</a>
                    <a mat-button routerLink="/skill" routerLinkActive="mat-accent">Skill</a>
                    <a mat-button routerLink="/contact" routerLinkActive="mat-accent">Contact Me</a>
                </div>
            </mat-toolbar>
        </div>
    </nav>
</header>