@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { 
    height: 100%; 
}

body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

/* .mat-toolbar-single-row {
    display: flex;
}

.mat-toolbar-multiple-row {
    flex-direction: column;
} */

.card-columns{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 16px;
}

/* Tambahkan warna latar belakang, padding, dan border-radius */
.btn-pie {
    background-color: #3490dc; /* Ganti dengan warna yang Anda inginkan */
    padding: 10px 20px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

  /* Tambahkan hover effect */
.btn-pie:hover {
    background-color: #2779bd; /* Ganti dengan warna hover yang Anda inginkan */
}

