<div class="bg-blue-500 py-32">
    <div class="w-9/12 grid items-center mx-auto sm:grid-cols-2 md:grid-cols-3">
        <div class="col-span-2 py-10">
            <!-- Introduction -->
            <div class="flex items-center">
                <svg class="stroke-gray-400 stroke-2 h-5 w-5">
                    <line x1="0" y1="10px" x2="10px" y2="10px"/>
                </svg>
                <h2 class="text-3xl font-bold uppercase pb-2 text-white">{{homeModel.name}}</h2>
            </div>
            <h3 class="text-3xl font-extralight tracking-widest pb-2 text-gray-200">{{homeModel.title}}</h3>
            <p class="font-light text-xl text-white">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Sunt soluta commodi veritatis, omnis ducimus in odio quisquam voluptatem, 
                pariatur qui provident eligendi aspernatur impedit ut corporis sint porro corrupti quae.
            </p>
            <div class="flex flex-row mt-5 space-x-1 ">
                <img class="w-6 h-6 bg-gray-300 rounded-md" src="assets/img/icons8-linkedin-48.png" alt="">
                <img class="w-6 h-6 bg-gray-300 rounded-md" src="assets/img/icons8-github-48.png" alt="">
                <img class="w-6 h-6 bg-gray-300 rounded-md" src="assets/img/icons8-instagram-48.png" alt="">
            </div>
        </div>

        <!-- avatar -->
        <div class="flex items-center mx-auto sm:col-span-2 md:col-span-1">
            <div class="flex items-center">
                <img class="ms-auto rounded-3xl w-96" src="assets/img/self.jpg" alt="self">
            </div>
        </div>
    </div>    
</div>